@import url('https://fonts.googleapis.com/css?family=Assistant:400,600&subset=hebrew')
@import url('https://unpkg.com/firacode@1.205.0/distr/fira_code.css')
$accentColor = #00bcd4

body
    direction: rtl
    font-family: 'Assistant', sans-serif !important

.page-nav
	.next
		float: left	
	.next, .prev:not(a)
		color: transparent
		
.sidebar .sidebar-sub-headers
	padding-left: 0
	padding-right: 1rem

a.sidebar-link
	border-left: unset
	border-right: 0.25rem solid transparent
	&.active
		border-left-color: unset
		border-right-color: #00bcd4

.sidebar-sub-headers a.sidebar-link
	border-right: none

p + ol
	margin-top: -1rem

div[class*="language-"] pre,
div[class*="language-"] pre[class*="language-"]
	display: block
	direction: ltr

.content pre code,
.content pre[class*="language-"] code,
.content .grammar code
	font-variant-ligatures: normal
	font-family: "Fira Code", monospace !important
	font-weight: lighter

.content code {
    display: inline-block !important
	direction: ltr !important
}

a.header-anchor
	float: right !important
	margin-right: -0.87em !important
	margin-left: unset !important
	padding-left: 0.23em !important
	padding-right: unset !important

div[class*="language-"].line-numbers-mode .line-numbers-wrapper
	left: 0

.grammar .content > ul {
    list-style-type: none;
	direction: ltr;
	a {
		color: #497bb7
		text-decoration: underline
		font-weight: normal
	}
	& > li {
		font-weight: normal
		font-family: "Fira Code", monospace !important
		margin-bottom: 1.4rem
		font-size: .9rem
		text-indent: -4ch
		h4 {
			margin-bottom: 0
		}
		& > ul > li,
		&::after{
			display: block !important
			width: fit-content
			margin-left: 1rem
			margin-top: .4rem
			background: none
			font-size: .8rem
			padding: 0
		}
		& > ul > li::before {
			content: ": "
			color: #ccc
		}
		&::after {
		    padding-left: calc(1.2em + 1rem)
			content: ";"
			color: #ccc
			margin-left: 0
		}
	}
	a.header-anchor {
		float: left !important
		margin-left: -0.87em !important
		margin-right: unset !important
		padding-right: 0.23em !important
		padding-left: unset !important
	}
	em {
		font-style: unset
		color: #009c00
		&::before, &::after {
			content: '"'
		}
	}
}